.PbtASystemContainer {
    --Darker: #1C1E20;
    --Middle: #24262B;
    --Lighter: #2E3138;
    --HoverLight: #5e5a5a;
    --Green: #13480B;
    --Orange: #3F351C;
    --Red: #501717;

    background: black;
    font-family: Roboto;
    font-size: 14px;
    height: 100%;
}
.ClockNumber {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.early {
    border-color: var(--Green);
    background-color: var(--Green);
}
.mid {
    border-color: var(--Orange);
    background-color: var(--Orange);
}
.late {
    border-color: var(--Red);
    background-color: var(--Red);
}
.earlyBorder {
    border: 2px solid var(--Green);
}
.midBorder {
    border: 2px solid var(--Orange);
}
.lateBorder {
    border: 2px solid var(--Red);
}
.active{
    background-color: var(--Darker)
}
.NotActive{
    border: none;
    background-color:black;
}
.Old{
    opacity: 0.5;
}

.ClockText{
    background-color:black;
}
.ClockEntry {
    display: flex;
    border-left: none;
    margin: 5px;
}
.textarea {
    width: 100%;
}