.PbtASystemContainer {
    --Darker: #1C1E20;
    --Middle: #24262B;
    --Lighter: #2E3138;
    --HoverLight: #5e5a5a;
    background: black;
    font-family: Roboto;
    font-size: 14px;
    height: 100%;
}

.Darker{
    background-color: var(--Darker) !important;
}

.CloseButton {
    width: 30px;
    height: 30px;
    background-image: url('imgs/Icons/Close.svg');
    cursor: pointer;
    opacity: 0.7;
}
.CloseButton:hover{
    opacity: 1;
}

.headerbutton{
    cursor: pointer
}

.Item {
    padding: 10px;
}

.Pack {
    margin-bottom: 10px;
}

    .Pack div {
        padding: 5px;
        padding-left: 10px;
        cursor: pointer;
        background-color: #1C1E20;
        margin: 5px;
    }
    .Pack h4 {
        font-size: 16px;
        opacity: 0.75;
        text-transform: uppercase;
        margin-top: 41px;
        margin-left: 5px;
    }

.Used0 {
    background-color: transparent !important;
}
.Used1 {
    background: #6e4200 !important;
}
.Used2 {
    background: #890000 !important;
}
.RolledValue{
    font-size: 24px;
}

.MasterContainer {
    display: flex;
    flex-wrap: wrap;
}

.MasterItem {
    width: 350px;
}

.LogCollection{

}
.LogItem{

}